<!--

 Всем привет! Сейчас кратко расскажу как это работает.
 - Это главный файл, тут идет общая настройка для всех страниц сайта.

 Здесь можно задать подключение стилей которые будут использоваться на всех страницах, допустим bootstrap.
 Так же можно здесь создать блок, который будет показываться на всех страницах, допустим тот же header

 @losexds

-->


<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/> <!-- -->
        <title>Express-handlebars</title> <!-- Title на всех страницах -->
        <link rel="stylesheet" href="stylesheets/style.css"/> <!-- Тут идет подключение стиля к всем страницам -->
    </head>
    <body>
        {{{body}}}
    </body>
</html>