<!--
 Это главная страница, или же просто index.
 Просто пиши здесь свой html код.
-->

<h1>{{{title}}}</h1>
<p>by {{{author}}}</p>
<a href="author">author</a>

<!--
    Выше приведен пример как можно использовать переменные в коде.
    Переменные задаются в routes/index.js

    Для новых страниц нужно создавать новый файл в routes.
-->